<div id="loginPanel" class="d-flex justify-content-center h-100">
  <div class="card">
    <div class="card-header">
      <h3>Code d'activation</h3>
    </div>
    <div class="card-body">
      <div id="errorMessage" class="alert alert-danger col-sm-12" ng-show="errorMessage">{{errorMessage}}</div>
      <form id="loginForm" role="form">
        <div class="d-flex links">
	  email :
        </div>
        <div class="input-group form-group">
          <input id="email" type="text" class="form-control" value="" placeholder="email">
        </div>
        <div class="d-flex links">
	  code d'activation :
        </div>
        <div class="input-group form-group">
          <input id="activationCode" type="text" class="form-control" value="" placeholder="code d'activation">
        </div>
        <div class="form-group">
          <button id="activateBtn" type="submit" class="btn w-100 login_btn" ng-click="submit()">Activer le compte</button>
        </div>
      </form>
    </div>
  </div>
</div>
