<div id="loginPanel" class="d-flex justify-content-center h-100">
  <div class="card">
    <div class="card-header">
      <h3>Connexion à Mericraft</h3>
      <div class="d-flex justify-content-end social_icon">
	<span><i class="fas fa-dice-d6"></i></span>
      </div>
    </div>
    <div class="card-body">
      <div id="errorMessage" class="alert alert-danger col-sm-12" ng-show="errorMessage">{{errorMessage}}</div>
      <form id="loginForm" role="form">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
	  </div>
          <input id="email" type="text" class="form-control" value="" placeholder="email">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input id="password" type="password" class="form-control" placeholder="mot de passe">
        </div>
        <div class="row align-items-center remember">
          <input id="rememberme" type="checkbox" name="rememberme" value="1">Se souvenir de moi !
        </div>
        <div class="form-group">
          <button id="loginBtn" type="submit" class="btn float-right login_btn" ng-click="submit()">Se connecter</button>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center links">
        Pas encore de compte ? <a href="#" ui-sref="signup">S'inscrire</a>
      </div>
      <div class="d-flex justify-content-center">
        <a href="#">Mod de passe oublié ?</a>
      </div>
    </div>
  </div>
</div>
