<div id="loginPanel" class="d-flex justify-content-center h-100">
  <div class="card">
    <div class="card-header">
      <h3>Inscription à Mericraft</h3>
    </div>
    <div class="card-body">
      <div id="errorMessage" class="alert alert-danger col-sm-12" ng-show="errorMessage">{{errorMessage}}</div>
      <form id="loginForm" role="form">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input id="email" type="text" class="form-control" value="" placeholder="email">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input id="password" type="password" class="form-control" placeholder="mot de passe">
        </div>
        <div class="form-group">
          <button id="signupBtn" type="submit" class="btn w-100 login_btn" ng-click="submit()">S'inscrire</button>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center links">
	Déja inscrit ? <a href="#" ui-sref="login">Se connecter</a>
      </div>
      <div class="d-flex justify-content-center">
	<a href="#">Mod de passe oublié ?</a>
      </div>
    </div>
  </div>

</div>
