@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body{
    background-image: url('https://deerfieldlibrary.org/wp-content/uploads/2016/02/Minecraft-Wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Roboto';
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    min-height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    background-color: rgba(0,0,0,0.3) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #66CDAA;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header{
    background-color: rgba(0,0,0,0.3) !important;
}
.card-header h3{
    color: white;
}

.card-footer{
    background-color: rgba(0,0,0,0.3) !important;
}


.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #66CDAA;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #66CDAA;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}
